# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vscode
/src/build
/tetris_ai/x64
/tetris_ai/.vs
/movegentest/x64
/jsontest/x64
/pendinglinestest/x64
/tetris_ai/tetris_ai/x64
src/key.json
src/bottest
src/bottest_lite
src/main
src/jsonouttest
src/movegentest
src/pendingtest
src/pso
src/pso_data.bin
